.bodyGrid {
    display: flex;
    background-color: white;
    display: grid;
    width: 100vw;
    grid-template-rows: 400px 400px 400px 400px; /* Distributes space proportionally */
}
.yearTitle {
    color: white;
    background-color: red;
}

.yearTitle2 {
    color: white;
    background-color: blue;
}